*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
body{
    font-size: 62.5%;
}

header{
    width: 100%;
    height: 140px;
    text-align: center;
}

header .header-logo{
    width: 176px;
    height: 32px;
    margin-top: 60px;
    display: inline-block;
    background-image: url('../img/sprite-wiki.png');
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 0px -254px;
    background-color: white;
}
header h4{
    font-size: 1.1rem;
    font-family: 'Times New Roman', Times, serif;
    margin-top:12px;
    font-weight:lighter;
}

header .header-logo-center{
    position:absolute;
    width:200px;
    height: 180px;
    margin:0 auto;
    top:220px;
    left:0;
    right: 0;
}

main{
    height: 530px;
}

main .container-langs{
    margin:0 auto;
    width: 600px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: (5,100px);
    /* background-color: azure; */
    
}

section .lang1,.lang2,.lang3,.lang4,.lang5,.lang6,.lang7,.lang8,.lang9,.lang10{
    margin: 10px 0;
}

section .lang1,.lang3,.lang7,.lang9{
    margin-right: 60px;
}

section .lang2,.lang4,.lang8,.lang10{
    margin-left: 60px;
}

section .lang1, .lang3,.lang5,.lang7,.lang9{
    justify-self: end;
}
section .lang3,.lang4,.lang7,.lang8{
    justify-self: center;
}

section .lang5{
    justify-self: start;
}
section .lang6{
    justify-self: end;
}


section .section-lang{
    width: 156px;
    height: 48px;
    text-align: center;
    margin-top:10px;
}

section .section-lang:hover{
    background-color: #eaecf0;
    cursor:pointer;
}

section .section-lang a{
    text-decoration: none;
}


section .section-lang a strong{
    display: block;
    font-size: 0.95rem;
    color:#36c;
    padding-top: 2px;
}

section .section-lang a small{
    margin-top: 5px;
    display: block;
    font-size: 0.75rem;
    color:#54595d;
}

section .container-search{
    width: 380px;
    height: 50px;
    margin:20px auto;
}


section .container-search .container-inputs{
    width: 312px;
    height: 50px;
    border:1px solid #a2a9b1;
    position: relative;
    top:-4px
}

section .container-search .container-inputs input{
    border:none;
    height: 100%;
    width: 240px;
    padding:10px;

}

section .container-search .container-inputs input:focus{
    outline:none;
}

section .container-search .container-inputs:hover{

    border-color:#72777d;
}
section .container-search .icon-search, .container-search .container-inputs{
    display:inline-block;
    
}

section .container-search .icon-search{
    height: 50px;
    width:60px;
}

section .container-search .icon-search button{
    height: 50px;
    width:60px;
    background-color: #36c;
    cursor: pointer;
    border: none;
    margin-left:-3px;
}

section .icon-search button .icon-search-sprite{
    display: inline-block;
    width: 22px;
    height: 22px;
    color: transparent;
    background-image: url('../img/sprite-wiki.png');
    background-repeat: no-repeat;
    background-position: 0px -698px;
}

section .icon-search button:hover{
    background-color:#447ff5;
}

/* Section Leer Wikipedia en tu idioma */
section .section-line{
    max-width: 460px;
    height: 1px;
    background-color: #c8ccd1;
    margin:60px auto;
}

section .section-sel-lang{
    background-color:#fff;
    width: 330px;
    height: 50px;
    margin:0 auto;
    position:relative;
    top:-87px;
    text-align: center;
}

section .section-sel-lang button{
    width:90%;
    height: 100%;
    color:#36c;
    font-weight: 600;
    background-color: #f8f9fa;
    border:1px solid #a2a9b1;
}

section .section-sel-lang button:hover{
    cursor: pointer;
    background-color: #fff;
}

section .section-sel-lang button .sprite-language{
    display: inline-block;
    background-image: url('../img/sprite-wiki.png');
    background-repeat: no-repeat;
    background-position:0px -619px;
    width: 22px;
    height: 22px;
    vertical-align: middle;
}

section .section-sel-lang button span{
    padding: 12px;
}

section .section-sel-lang button .sprite-arrow-down{
    display: inline-block;
    background-image: url('../img/sprite-wiki.png');
    background-repeat: no-repeat;
    background-position:0px -525px;
    width: 14px;
    height: 14px;
    color:transparent;
}

hr{
    border:1px solid #c8ccd1;
    height: 0px;
    width: 97%;
    margin:0 auto;
}

footer{
    color:#54595d;
    font-family: Arial, Helvetica, sans-serif;
}

footer .footer-container-top{
    display: flex;
    flex-direction: column;
}

footer .footer-donate .sprite-donate{
    width:42px;
    height: 42px;
    margin: 20px auto;
    background-image: url('../img/sprite-wiki.png');
    background-repeat: no-repeat;
    background-position:0 -211px;
}

footer .footer-donate p{
    padding: 0 30px;
    text-align: center;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
}

footer .footer-donate p a{
    text-decoration: none;
    color:#36c;
}

footer .footer-donate p a:hover{
    text-decoration: underline;
}


footer .footer-wikis{
    order:2;
    max-width:800px;
    height: 500px;
    padding:10px 30px;
    margin-top: 10px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 80px 80px 80px;
}

footer .footer-wikis .wiki-card{
    display:flex;
    align-items: center;
    max-width: 300px;
    padding:10px;
}

footer .footer-wikis .wiki-card:hover{
    background-color: #eaecf0;
    cursor: pointer;
}

.wiki-card-title{
    display: block;
    color:#36c;
    font-size: 1rem;
}

.wiki-card-body{
    font-size: 0.9rem;
    
}

footer .footer-wikis .wiki-card .sprite-card{
    margin-right: 10px;
}

footer .footer-wikis .wiki-card .sprite-card-comm{
    min-width: 47px;
    height: 47px;
    background-image: url('../img/sprite-wiki.png');
    background-repeat: no-repeat;
}

footer .footer-wikis .wiki-card .sprite-card-trav{
    min-width: 36px;
    height: 36px;
    background-image: url('../img/sprite-wiki.png');
    background-repeat: no-repeat;
    background-position: 0 -446px;
}

footer .footer-wikis .wiki-card .sprite-card-dict{
    min-width: 37px;
    height: 37px;
    background-image: url('../img/sprite-wiki.png');
    background-repeat: no-repeat;
    background-position: 0 -482px;
}

footer .footer-wikis .wiki-card .sprite-card-book{
    min-width: 37px;
    height: 37px;
    background-image: url('../img/sprite-wiki.png');
    background-repeat: no-repeat;
    background-position: 0 -129px;
}

footer .footer-wikis .wiki-card .sprite-card-news{
    min-width: 47px;
    height: 26px;
    background-image: url('../img/Wikinews-logo_sister.png');
    background-repeat: no-repeat;
}

footer .footer-wikis .wiki-card .sprite-card-data{
    min-width: 49px;
    height: 49px;
    background-image: url('../img/sprite-wiki.png');
    background-repeat: no-repeat;
    background-position: 0 -164px;
}

footer .footer-wikis .wiki-card .sprite-card-edu{
    min-width: 43px;
    height: 37px;
    background-image: url('../img/sprite-wiki.png');
    background-repeat: no-repeat;
    background-position: 0 -408px;
}

footer .footer-wikis .wiki-card .sprite-card-quo{
    min-width: 42px;
    height: 42px;
    background-image: url('../img/sprite-wiki.png');
    background-repeat: no-repeat;
    background-position: 0 -286px;
}

footer .footer-wikis .wiki-card .sprite-card-media{
    min-width: 42px;
    height: 42px;
    background-image: url('../img/sprite-wiki.png');
    background-repeat: no-repeat;
    background-position: 0 -47px;
}

footer .footer-wikis .wiki-card .sprite-card-source{
    min-width: 39px;
    height: 39px;
    background-image: url('../img/sprite-wiki.png');
    background-repeat: no-repeat;
    background-position: 0 -326px;
}

footer .footer-wikis .wiki-card .sprite-card-species{
    min-width: 42px;
    height: 42px;
    background-image: url('../img/sprite-wiki.png');
    background-repeat: no-repeat;
    background-position: 0 -367px;
}

footer .footer-wikis .wiki-card .sprite-card-meta{
    min-width: 37px;
    height: 37px;
    background-image: url('../img/sprite-wiki.png');
    background-repeat: no-repeat;
    background-position: 0 -89px;
}

footer .footer-apps{
    order:3;
    background-color: #f8f9fa;
    margin-bottom: 30px;
    padding:10px 20px;
}

footer .footer-apps .apps-top{
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
}

footer .footer-apps .sprite--w-app{
    display: inline-block;
    min-width: 42px;
    height: 42px;
    background-image: url('../img/sprite-wiki.png');
    background-repeat: no-repeat;
    background-position:0 -720px;
    background-size: auto;
}

footer .footer-apps .sprite-text-app{
    display: inline-block;
    color:black;
    font-weight: bolder;
    font-size: 0.85rem;
    margin-left:10px;
}

footer .footer-apps p{
    text-align: center;
    font-size: 0.85rem;
}
footer .footer-apps .store-container{
    text-align: center;
    margin-top:10px;
}
footer .footer-apps .store-container .store-apps{
    list-style: none;
}
footer .footer-apps .store-container .store-apps li{
    display: inline-block;
}
footer .footer-apps .store-container .store-apps .android-app{
    min-width:124px;
    height: 38px;
    background-image: url('../img/sprite-wiki.png');
    background-position: 0 -540px;
    background-repeat: no-repeat;
}
footer .footer-apps .store-container .store-apps .ios-app{
    min-width:124px;
    height: 38px;
    background-image: url('../img/sprite-wiki.png');
    background-position: 0 -580px;
    background-repeat: no-repeat;
    vertical-align: bottom;
}

footer .footer-license{
    font-size: 0.85rem;
    text-align: center;
    margin:20px;
}

footer .footer-license a{
    text-decoration: none;
    color:#36c;
}

footer .footer-license span{
    display: inline-block;
    margin:5px
}

footer .footer-license span.license-list::before{
    content: "\2022";
}

footer .footer-license a:hover{
    text-decoration: underline;
}


@media (min-width: 540px){
    /*3 columnas*/
    footer .footer-wikis{
        grid-template-columns: 1fr 1fr 1fr;
        height: 360px;
        
    }

}

@media (min-width: 768px){
    /*3 columnas*/
    footer .footer-container-top{
        max-width: 1200px;
        height: 550px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
       
    }

    footer .footer-donate .sprite-donate{
        min-width: 42px;
        align-self:baseline;
        margin-left: 20px;
    }
    footer .donate-text p{
        text-align: left;
    }
    footer .footer-donate{
        width: 250px;
        height: 230px;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        
    }
    footer .footer-apps{
        width: 250px;
        align-self: flex-start;
        position:relative;
        top:-217px;
    }

    footer .footer-wikis{
        width: 500px;
        height: 440px;
        padding-left: 0;
        grid-template-rows: 110px 110px 110px 110px;
        flex-grow: 3;
    }

}


@media (min-width: 980px){
    /*3 columnas*/
    footer .footer-container-top{
        width: 90%;
        height: 500px;

    }
    footer .footer-donate{
        width: 35%;
        height: 230px;
        margin-bottom: 0;
        
    }

    footer .footer-donate .sprite-donate{
        min-width: 42px;
        align-self:baseline;
        margin-top: 60px;
    }

    footer .footer-apps{
        width: 35%;
        align-self: flex-start;
        position:relative;
        top:-217px;
    }

    footer .footer-wikis{
        width: 65%;
        height: 440px;
        padding-left: 0;
        grid-template-rows: 110px 110px 110px 110px;
        flex-grow: 3;
        align-self: flex-end;
    }

}
